body {
  padding: 1rem 12rem;
}

.container {
  text-align: center;
}

h1 {
  text-align: center;
}

#tombola {
  text-align: left;
  margin-bottom: 1rem;
  border: 0.3rem solid blueviolet;
  background-color: rgb(130, 130, 221);
}

.cell {
  display: inline-block;
  padding: 1rem;
  border: solid aliceblue;
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

#random-number {
  color: rgb(65, 64, 64);
  font-size: 2rem;
  border-radius: 10px;
}

#random-number:hover {
  color: rgb(211, 15, 41);
  transform: scale(1.02);
}
